.user-search {
  width: 90%;
}

.select-custom {
  position: relative;
  select {
    background-color: transparent !important;
    position: relative;
    z-index: 9;
  }
  i {
    position: absolute;
    top: 15px;
    right: 12px;
    color: #727374;
    z-index: 0;
  }
}

.search-form-control {
  height: calc(2.8rem + 2px);
  border-radius: 8px;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  appearance: none;
  &::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
  }
}