.role-name {
  font-weight: 400 !important;
}

.roles-heading {
  font-weight: 600;
  color: #727374 !important;
}

.role-sub-heading {
  font-size: $font-lg  !important;
  font-weight: 400;
  color: #2c2c20 !important;
}