// Buttons
$btn-primary: #02a9a1;
$btn-danger: #c82333;
$btn-secondary: #6c757d;

$theme-color: #17a2b8;

// Font
$text-color: #1b1c1e;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-roboto: 'Roboto', sans-serif;

// Palette
$orange: #ef8354;
$navy: #4f5d75;
$gray: #bfc0c0;
$navy-dark: #2d3142;